.main-header {
    height: 6rem;
    background: #4fedd2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header h1 {
    font-size: 2.5rem;
}

.main-header h1 a {
    color: #291d51;
    text-decoration: none;
}